<div class="auth__loginpopup">
  <div class="auth__loginpopup--header">
    <h1 class="auth__loginpopup--header--heading">
      <u>Login Here</u> 
      <sup class="auth__loginpopup--header--heading--sup">*</sup>
    </h1>
  </div>
  <div class="auth__loginpopup--forms">
    <form [formGroup]="loginForm">
      <div class="auth__loginpopup--forms-inputs">
        <auth-input
          [label]="'Email'"
          [type]="'text'"
          [placeholder]="'Enter User Email'"
          formControlName="email"
          [style]="{
            color: 'blue',
          }"
        ></auth-input>
        <auth-input
          [label]="'Password'"
          [type]="'password'"
          [placeholder]="'Enter password'"
          formControlName="password"
          [style]="{
            color: 'red',
          }"
        ></auth-input>
      </div>
    </form>
    <div class="auth__loginpopup--forms-buttons">
      <auth-button
        [label]="'submit'"
        [style]="{
          color: 'white',
          width: '100%',
          backgroundColor: '#005cbb'
        }"
        (btnClicked)="onSubmitted()"
      ></auth-button>
      <auth-button
        [label]="'cancel'"
        [style]="{ color: 'white', width: '100%', backgroundColor: '#ba1a1a' }"
        (btnClicked)="onCanceled()"
      ></auth-button>
    </div>
  </div>
</div>
