<mat-toolbar>
  <mat-toolbar-row>
    <span class="pms__nav--leftContent">Party Management System</span>
    <span class="example-spacer"></span>
    <button
      mat-button
      class="example-icon favorite-icon pms__nav--loginBtn"
      aria-label="Example icon-button with heart icon"
      (click)="onLoginBtnClicked()"
    >
      Login
      <mat-icon>login</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon pms__nav--shareBtn"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<hr />

@if(loginPopup){
<div class="login__popup">
  <pms-login-popup (cancelEvent)="cancelClicked($event)"></pms-login-popup>
</div>
}
