<mat-toolbar>
  <mat-toolbar-row>
    <span class="auth__nav--leftContent">Authendications</span>
    <span class="example-spacer"></span>
    <button
      mat-button
      class="example-icon favorite-icon auth__nav--loginBtn"
      aria-label="Example icon-button with heart icon"
      (click)="onSignupBtnClicked()"
    >
      SignUp
      <mat-icon>how to reg</mat-icon>
    </button>
    <button
      mat-button
      class="example-icon favorite-icon auth__nav--loginBtn"
      aria-label="Example icon-button with heart icon"
      (click)="onLoginBtnClicked()"
    >
      Login
      <mat-icon>login</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon auth__nav--shareBtn"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<hr />

@if(signupPopup){
<div class="signup_popup">
  <auth-signup-popup (cancelEvent)="cancelClicked($event)" (afterSignup)="openLogin($event)"></auth-signup-popup>
</div>
} @else if(loginPopup){
<div class="login__popup">
  <auth-login-popup (cancelEvent)="cancelClicked($event)"></auth-login-popup>
</div>
}
