<div class="pms__loginpage">
  <div class="pms__loginpage--header">
    <h1 class="pms__loginpage--header--heading">Please Login Here</h1>
  </div>
  <div class="pms__loginpage--forms">
    <form [formGroup]="loginForm">
      <pms-input
        [label]="'User Name'"
        [type]="'text'"
        [placeholder]="'Enter User Name'"
        formControlName="userName"
        [style]="{
          color:'blue',
        }"
      ></pms-input>
      <pms-input
        [label]="'Password'"
        [type]="'password'"
        [placeholder]="'Enter password'"
        formControlName="password"
        [style]="{
          color: 'red'
        }"
      ></pms-input>
    </form>
  </div>
</div>
<button (click)="clicked()">submit</button>
