<div class="container pms__home--container">
  <div>
    <h1 class="pms__home--header"><u class="pms__home--header--underline">Party</u> Managemant System</h1>
  </div>
  <div class="pms__home--content">
    <p class="pms__home--description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, facilis
      quaerat ipsa aspernatur dolores a natus quae? Ipsa eaque, magnam soluta
      autem excepturi provident eius illum, magni reiciendis iure sapiente!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis aliquid
      dignissimos tenetur rem officiis quae necessitatibus minus et dolorum sit
      veniam laborum, vero architecto nesciunt laudantium dicta provident
      repellendus alias!
    </p>
  </div>
</div>
